<!DOCTYPE HTML>
<!--
 Copyright © 2014 Benjamin Gehrels et al.

 This file is part of The Single Transferable Vote Elections Web Interface.

 The Single Transferable Vote Elections Web Interface is free software: you can redistribute it and/or modify it under
 the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of
 the License, or (at your option) any later version.

 The Single Transferable Vote Elections Web Interface is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License along with The Single Transferable Vote
 Elections Web Interface. If not, see http://www.gnu.org/licenses/.
-->
<html>
<head>
<meta charset="UTF-8"/>
<title>Stimmzetteleingabe - Wahlauszählungen nach der Weighted Inclusive Gregory Method</title>
<script type="text/javascript" src="/jquery-2.1.0.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    var wigm = wigm || {};

    wigm.candidatePreferenceStringField = function (options) {
        var $element = options.$fieldElement;

        var savePreference = function (preferenceString) {
            $element.val(preferenceString);
        };

        var handleChanges = function () {
            var val = $element.val();
            resetError();
            // TODO: Check for validity: [a-zA-Z]*
            try {
                options.onChange(val);
            } catch (err) {
                error();
            }
        };

        var resetError = function () {
            options.onResetError();
        };

        var error = function () {
            options.onError();
        };

        var deactivate = function () {
            $element.addClass("invisible");
        };


        return {
            "savePreference": savePreference,
            "init": handleChanges,
            "deactivate": deactivate
        };
    };

    wigm.error = function ($element) {
        wigm.$submitButton.attr("disabled", "disabled");
    };

    wigm.resetError = function () {
        wigm.$submitButton.removeAttr("disabled");
    };

    wigm.candidatePreferenceList = function (options) {
        var $elements = options.$listElement.find("input");

        var handleChanges = function () {
            resetError();
            var preferenceArray = new Array($elements.size());
            $elements.each(function (idx, element) {
                var $element = $(element);
                var unparsedValue = $element.val();
                if (unparsedValue.trim() !== "") {
                    // TODO: regexp als Validitätsprüfung [1-9][0-9]*
                    var val = parseInt(unparsedValue.trim());
                    if (isNaN(val) || preferenceArray[val] !== undefined) {
                        error($element);
                    }
                    var candidateIdx = $element.data("candidate-index");
                    preferenceArray[val] = candidateIdxToChar(candidateIdx);
                }
            });

            var resultString = preferenceArray.join("");
            options.onChange(resultString);
        };

        var error = function ($element) {
            $element.addClass("error");
            options.onError($element);
        };

        var resetError = function () {
            $elements.removeClass("error");
            options.onResetError();
        };

        var candidateIdxToChar = function (candidateIdx) {
            return String.fromCharCode(candidateIdx + 65);
        };

        var activate = function () {
            $elements.removeClass("invisible");
        };

        $elements.each(function (idx, $element) {
            $($element).on("keyup", handleChanges).removeAttr("disabled");
        });

        return {
            "init": handleChanges,
            "activate": activate
        }
    };

    wigm.initSingleElection = function (electionElement) {
        var preferenceList;
        var stringField = wigm.candidatePreferenceStringField({
                                                                  "$fieldElement": $(electionElement).find(".preferenceString"),
                                                                  "onResetError": wigm.resetError,
                                                                  "onError": wigm.error});
        preferenceList = wigm.candidatePreferenceList({
                                                          "$listElement": $(electionElement).find("ol"),
                                                          "onChange": stringField.savePreference,
                                                          "onResetError": wigm.resetError,
                                                          "onError": wigm.error});
        stringField.init();
        preferenceList.init();

        var activateMultiFieldInputMode = function () {
            preferenceList.activate();
            stringField.deactivate();
        };

        activateMultiFieldInputMode();
    };


    $(document).ready(function () {
        wigm.$submitButton = $("input[type=\"submit\"]");

        $("section.election").each(function (idx, electionElement) {
            wigm.initSingleElection(electionElement);
        });
    });
/* ]]> */</script>
<style type="text/css">
    label.error {
        color: red;
    }

    input.error {
        border-color: red;
    }

    span.error {
        color: red;
    }

    .invisible {
        display: none;
    }

</style>
</head>
<body>
<header>
    <h1>Stimmzettel eingeben</h1>
</header>
<main>
    <form method="POST" action="/castVote" data-th-object="${ballotBuilder}">
        <input type="hidden" name="firstOrSecondTry" data-th-value="${firstOrSecondTry}"/>
        <section>
            <label for="ballotId">Stimmzettelnummer</label>
            <input data-th-field="*{ballotId}" data-th-errorclass="error" type="number" required="required" min="0"
                   autofocus="autofocus"/>
            <span data-th-errors="*{ballotId}" class="error">Bitte eine Zahl eingeben!</span><br/>
        </section>
        <section data-th-each="election, electionStatus : ${ballotLayout.elections}" class="election">
            <h2 data-th-text="${election.officeName}">Entenhausener Parlament</h2>
            <span data-th-errors="*{votesByElectionId[__${electionStatus.index}__].type}" class="error"/>
            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="PREFERENCE"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Präferenz</label>
            <br/>

            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="NO"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Nein</label>
            <br/>

            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="INVALID"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Ungültig</label>
            <br/>

            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="NOT_VOTED"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Keine Stimmabgabe</label>
            <br/>

            <span data-th-errors="*{votesByElectionId[__${electionStatus.index}__].preferencesByCandidateIdx}"
                                       class="error"/>
            <ol type="A">
                <li data-th-each="candidate,candidateStatus : ${election.candidates}">
                    <span data-th-text="${candidate.name}"></span>
                    <input data-th-field="*{votesByElectionId[__${electionStatus.index}__].preferencesByCandidateIdx[__${candidateStatus.index}__].value}"
                           type="number" size="2" min="0" data-th-errorclass="error" />
                    <span data-th-errors="*{votesByElectionId[__${electionStatus.index}__].preferencesByCandidateIdx[__${candidateStatus.index}__]}"
                                               class="error"/>
                    <span data-th-errors="*{votesByElectionId[__${electionStatus.index}__].preferencesByCandidateIdx[__${candidateStatus.index}__].value}"
                           class="error"/>
                </li>
            </ol>
        </section>
        <section>
            <input type="submit" value="Hinzufügen &amp; nächsten Stimmzettel ausfüllen"/>
        </section>
    </form>
</main>
<footer><a href="/">Zurück zur Startseite</a></footer>
</body>
</html>