<!DOCTYPE HTML>
<!--
 Copyright © 2014 Benjamin Gehrels et al.

 This file is part of The Single Transferable Vote Elections Web Interface.

 The Single Transferable Vote Elections Web Interface is free software: you can redistribute it and/or modify it under
 the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of
 the License, or (at your option) any later version.

 The Single Transferable Vote Elections Web Interface is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License along with The Single Transferable Vote
 Elections Web Interface. If not, see http://www.gnu.org/licenses/.
-->
<html>
<head>
<meta charset="UTF-8"/>
<title>Stimmzetteleingabe - Wahlauszählungen nach der Weighted Inclusive Gregory Method</title>
<script type="text/javascript" src="/jquery-2.1.0.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    var wigm = wigm || {};

    wigm.candidatePreferenceStringField = function (options) {
        var $element = options.$fieldElement;

        var showPreference = function (preferenceString) {
            $element.val(preferenceString);
        };

        var handleChanges = function () {
            var val = $element.val();
            resetError();
            // TODO: Check for validity: [a-zA-Z]*
            try {
                options.onChange(val);
            } catch (err) {
                error();
            }
        };

        var resetError = function () {
            $element.removeClass("error");
            options.onResetError();
        };

        var error = function () {
            $element.addClass("error");
            options.onError();
        };

        var deactivate = function () {
            $element.addClass("invisible");
        };

        var activate = function () {
            $element.removeClass("invisible");
        };

        $element.on("keyup", handleChanges);
        return {
            "showPreference": showPreference,
            "init": handleChanges,
            "activate": activate,
            "deactivate": deactivate
        };
    };

    wigm.error = function ($element) {
        wigm.$submitButton.attr("disabled", "disabled");
    };

    wigm.resetError = function () {
        wigm.$submitButton.removeAttr("disabled");
    };

    wigm.candidatePreferenceList = function (options) {
        var $elements = options.$listElement.find("input");

        var handleChanges = function () {
            resetError();
            var preferenceArray = new Array($elements.size());
            $elements.each(function (idx, element) {
                var $element = $(element);
                var unparsedValue = $element.val();
                if (unparsedValue.trim() !== "") {
                    // TODO: regexp als Validitätsprüfung [1-9][0-9]*
                    var val = parseInt(unparsedValue.trim());
                    if (isNaN(val) || preferenceArray[val] !== undefined) {
                        error($element);
                    }
                    var candidateIdx = $element.data("candidate-index");
                    preferenceArray[val] = candidateIdxToChar(candidateIdx);
                }
            });

            var resultString = preferenceArray.join("");
            options.onChange(resultString);
        };

        var error = function ($element) {
            $element.addClass("error");
            options.onError($element);
        };

        var resetError = function () {
            $elements.removeClass("error")
            options.onResetError();
        };

        var showPreference = function (preferenceString) {
            $elements.val("");
            for (var i = 0; i < preferenceString.length; i++) {
                var $candidateInput = getFieldByCandidateIdx(charToCandidateIdx(preferenceString[i]));
                if ($candidateInput.size() === 0) {
                    throw preferenceString[i];
                }
                $candidateInput.val(i + 1);
            }
        };

        var candidateIdxToChar = function (candidateIdx) {
            return String.fromCharCode(candidateIdx + 65);
        };

        var charToCandidateIdx = function (candidateChar) {
            return candidateChar.toUpperCase().charCodeAt(0) - 65;
        };

        var getFieldByCandidateIdx = function (candidateIdx) {
            return $elements.filter("[data-candidate-index=\"" + candidateIdx + "\"]");
        };

        var activate = function () {
            $elements.removeClass("invisible");
        };

        var deactivate = function () {
            $elements.addClass("invisible");
        };

        $elements.each(function (idx, $element) {
            $($element).on("keyup", handleChanges).removeAttr("disabled");
        });

        return {
            "showPreference": showPreference,
            "init": handleChanges,
            "activate": activate,
            "deactivate": deactivate
        }
    };

    wigm.initSingleElection = function (electionElement) {
        var preferenceList;
        var stringField = wigm.candidatePreferenceStringField({
                                                                  "$fieldElement": $(electionElement).find(".preferenceString"),
                                                                  "onChange": function (preferenceString) {
                                                                      preferenceList.showPreference(preferenceString);
                                                                  },
                                                                  "onResetError": wigm.resetError,
                                                                  "onError": wigm.error});
        preferenceList = wigm.candidatePreferenceList({
                                                          "$listElement": $(electionElement).find("ol"),
                                                          "onChange": stringField.showPreference,
                                                          "onResetError": wigm.resetError,
                                                          "onError": wigm.error});
        stringField.init();
        preferenceList.init();

        var toggleInputMode = function (isStringInputModeEnabled) {
            if (isStringInputModeEnabled) {
                preferenceList.deactivate();
                stringField.activate();
            } else {
                preferenceList.activate();
                stringField.deactivate();
            }
        };

        wigm.$stringInputModeCheckbox.change(function () {
            toggleInputMode($(this).is(':checked'));
        });

        toggleInputMode(wigm.$stringInputModeCheckbox.is(':checked'));
    };


    $(document).ready(function () {
        wigm.$submitButton = $("input[type=\"submit\"]");
        wigm.$stringInputModeCheckbox = $("#stringInputMode1");

        $("section.election").each(function (idx, electionElement) {
            wigm.initSingleElection(electionElement);
        });
    });
/* ]]> */</script>
<style type="text/css">
    label.error {
        color: red;
    }

    input.error {
        border-color: red;
    }

    span.error {
        color: red;
    }

    .invisible {
        display: none;
    }

</style>
</head>
<body>
<header>
    <h1>Stimmzettel eingeben</h1>
</header>
<main>
    <form method="POST" action="/castVote" data-th-object="${ballotBuilder}">
        <input type="hidden" name="firstOrSecondTry" data-th-value="${firstOrSecondTry}"/>
        <section>
            <label for="ballotId">Stimmzettelnummer</label>
            <input data-th-field="*{ballotId}" data-th-errorclass="error" type="number" required="required"
                   autofocus="autofocus"/>
            <span data-th-errors="*{ballotId}" class="error">Bitte eine Zahl eingeben!</span><br/>

            <span data-th-errors="*{stringInputMode}" class="error">Bitte einen Eingabemodus auswählen</span>
            <label for="stringInputMode1">Schnelleingabemodus</label>
            <input type="checkbox" data-th-field="*{stringInputMode}"/>
        </section>
        <section data-th-each="election, electionStatus : ${ballotLayout.elections}" class="election">
            <h2 data-th-text="${election.officeName}">Entenhausener Parlament</h2>
            <span data-th-errors="*{votesByElectionId[__${electionStatus.index}__].type}" class="error"/>
            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="PREFERENCE"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Präferenz</label>
            <input data-th-field="*{votesByElectionId[__${electionStatus.index}__].preferenceString}"
                   data-th-errorclass="error" type="text" class="preferenceString"/>
            <span data-th-errors="*{votesByElectionId[__${electionStatus.index}__].preferenceString}"
                  class="error"/><br/>

            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="NO"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Nein</label>
            <br/>

            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="INVALID"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Ungültig</label>
            <br/>

            <input type="radio" data-th-field="*{votesByElectionId[__${electionStatus.index}__].type}"
                   data-th-errorclass="error"
                   data-th-value="NOT_VOTED"/>
            <label data--for="${#ids.prev('votesByElectionId[__${electionStatus.index}__].type')}">Keine Stimmabgabe</label>
            <br/>

            <ol type="A">
                <li data-th-each="candidate,candidateStatus : ${election.candidates}">
                    <input type="number" size="2" data-th-attr="data-candidate-index=${candidateStatus.index}"
                           disabled="disabled" class="invisible" />
                    <span data-th-text="${candidate.name}"></span>
                </li>
            </ol>
        </section>
        <section>
            <input type="submit" value="Hinzufügen &amp; nächsten Stimmzettel ausfüllen"/>
        </section>
    </form>
</main>
<footer><a href="/">Zurück zur Startseite</a></footer>
</body>
</html>