<!DOCTYPE HTML>
<!--
 Copyright © 2014 Benjamin Gehrels

 This file is part of The Single Transferable Vote Elections Web Interface.

 The Single Transferable Vote Elections Web Interface is free software: you can redistribute it and/or modify it under
 the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of
 the License, or (at your option) any later version.

 The Single Transferable Vote Elections Web Interface is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License along with The Single Transferable Vote
 Elections Web Interface. If not, see http://www.gnu.org/licenses/.
-->
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Wahlergebnisse - Wahlauszählungen nach der Weighted Inclusive Gregory Method</title>
</head>
<body>
<main>
    <h1>Wahlberechnung nicht möglich</h1>

    <p>Es gibt noch Abweichungen zwischen der Ersteingabe der Stimmzettel und der Kontrolleingabe. Es besteht nun die
        Möglichkeit, diese Stimmzettel zu löschen, um sie erneut zu erfassen.</p>

    <form method="POST" action="/deleteBallots">
        <section data-th-unless="${ballotIterableDiff.setAsDuplicateIds.empty}">
            <h2>Bei der Ersteingabe mehrfach eingegebene Stimmzettel</h2>
            <ul>
                <li data-th-each="ballotId : ${ballotIterableDiff.setAsDuplicateIds}">
                    <span data-th-text="'Nr. ' + ${ballotId}">Nr. 123</span>
                    <input type="hidden" name="ballotIds" data-th-value="${ballotId}"/>
                </li>
            </ul>
        </section>

        <section data-th-unless="${ballotIterableDiff.setBsDuplicateIds.empty}">
            <h2>Bei der Kontrolleingabe mehrfach eingegebene Stimmzettel</h2>
            <ul>
                <li data-th-each="ballotId : ${ballotIterableDiff.setBsDuplicateIds}">
                    <span data-th-text="'Nr. ' + ${ballotId}">Nr. 123</span>
                    <input type="hidden" name="ballotIds" data-th-value="${ballotId}"/>
                </li>
            </ul>
        </section>

        <section data-th-unless="${ballotIterableDiff.inAButNotInB.empty}">
            <h2>Stimmen der Ersteingabe, die bei der Kontrolleingabe ausgelassen wurden</h2>
            <ul>
                <li data-th-each="ballotId : ${ballotIterableDiff.inAButNotInB}">
                    <span data-th-text="'Nr. ' + ${ballotId}">Nr. 123</span>
                    <input type="hidden" name="ballotIds" data-th-value="${ballotId}"/>
                </li>
            </ul>
        </section>

        <section data-th-unless="${ballotIterableDiff.inBButNotInA.empty}">
            <h2>Stimmen der Kontrolleingabe, die bei der Ersteingabe ausgelassen wurden</h2>
            <ul>
                <li data-th-each="ballotId : ${ballotIterableDiff.inBButNotInA}">
                    <span data-th-text="'Nr. ' + ${ballotId}">Nr. 123</span>
                    <input type="hidden" name="ballotIds" data-th-value="${ballotId}"/>
                </li>
            </ul>
        </section>

        <section data-th-unless="${ballotIterableDiff.differentBetweenTheTwoSets.empty}">
            <h2>Stimmen bei denen sich die Ersteingabe und die Kontrolleingabe unterscheiden</h2>
            <ul>
                <li data-th-each="ballotId : ${ballotIterableDiff.differentBetweenTheTwoSets}">
                    <span data-th-text="'Nr. ' + ${ballotId}">Nr. 123</span>
                    <input type="hidden" name="ballotIds" data-th-value="${ballotId}"/>
                </li>
            </ul>
        </section>

        <section>
            <h2>Löschen der fehlerhaften Stimmzettel</h2>
            <p>Bitte suche dir die oben aufgeführten Stimmzettel heraus und bilde daraus einen seperaten Stapel. Drücke erst dann den Löschen-Knopf, wenn du alle gefunden hast. <strong>Diese Liste lässt sich danach nicht erneut aufrufen.</strong></p>
            <p><input type="submit" value="Alle fehlerhaften Stimmzettel unwiderbringlich löschen und erneut eingeben."/></p>
        </section>
    </form>
</main>
<footer><a href="/">Zurück zur Startseite</a></footer>
</body>
</html>