<!DOCTYPE HTML>
<!--
 Copyright © 2014 Benjamin Gehrels

 This file is part of The Single Transferable Vote Elections Web Interface.

 The Single Transferable Vote Elections Web Interface is free software: you can redistribute it and/or modify it under
 the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of
 the License, or (at your option) any later version.

 The Single Transferable Vote Elections Web Interface is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License along with The Single Transferable Vote
 Elections Web Interface. If not, see <http://www.gnu.org/licenses/>.
-->
<html>
<head>
    <meta charset="UTF-8" />
    <title>Startseite - Wahlauszählungen nach der Weighted Inclusive Gregory Method</title>
</head>
<body>
<header>
    <h1>Was möchten Sie tun?</h1>
</header>
<main>
    <ul>
        <li><a href="/administrateBallotLayout">Stimmzettellayout erstellen/bearbeiten (<strong>löscht eventuell bereits eingegebene Stimmen</strong>)</a></li>
        <li><a href="/castVote?firstOrSecondTry=FIRST">Stimmen eingeben (Ersteingabe)</a></li>
        <li><a href="/castVote?firstOrSecondTry=SECOND">Stimmen eingeben (Kontrolleingabe)</a></li>
        <li><a href="/listElectionCalculations">Ergebnisberechnung</a></li>
    </ul>
</main>
<aside>
    <dl>
        <h1>Anzahl eingegebener Stimmzettel</h1>
        <dt>Ersteingabe</dt>
        <dd data-th-text="${numberOfCastBallots.firstTry}">1234</dd>
        <dt>Kontrolleingabe</dt>
        <dd data-th-text="${numberOfCastBallots.secondTry}">4321</dd>
    </dl>
</aside>
<footer>
 <h1>Lizenz</h1>
 <p>This file is part of The Single Transferable Vote Elections Web Interface.</p>

 <p>The Single Transferable Vote Elections Web Interface is free software: you can redistribute it and/or modify it under
 the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of
 the License, or (at your option) any later version.</p>

 <p>The Single Transferable Vote Elections Web Interface is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Affero General Public License for more details.</p>

 <p>You should have received a copy of the GNU Affero General Public License along with The Single Transferable Vote
 Elections Web Interface. If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>

 <p>You may find the source code of this software at <a href="https://github.com/BGehrels">GitHub</a>.</p>
</footer>
</body>
</html>