<!DOCTYPE HTML>
<!--
 Copyright © 2014 Benjamin Gehrels

 This file is part of The Single Transferable Vote Elections Web Interface.

 The Single Transferable Vote Elections Web Interface is free software: you can redistribute it and/or modify it under
 the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of
 the License, or (at your option) any later version.

 The Single Transferable Vote Elections Web Interface is distributed in the hope that it will be useful, but WITHOUT
 ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 Affero General Public License for more details.

 You should have received a copy of the GNU Affero General Public License along with The Single Transferable Vote
 Elections Web Interface. If not, see <http://www.gnu.org/licenses/>.
-->
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ergebnisberechnungen - Wahlauszählungen nach der Weighted Inclusive Gregory Method</title>
</head>
<body>
<header>
    <h1>Ergebnisberechnung</h1>
</header>
<main>
    <h2>Neue Berechnung starten</h2>

    <p>
        Startet eine neue Wahlergebnisberechnung mit den bereits eingegebenen Stimmzetteln. Sollten die Stimmzettel aus
        der Erst- und Kontrolleingabe nicht identisch sein, wird die Gelegenheit zur Korrektur gegeben. Mit dem Starten
        der Ergebnisberechnung gehen die eingegebenen Stimmzettel nicht verloren, die Berechnung kann beliebig oft
        gestartet werden.
    </p>

    <form action="/startElectionCalculation" method="POST">
        <input type="submit" value="Ergebnisberechnung jetzt starten"/>
    </form>
    <section data-th-unless="${electionCalculations.empty}">
        <h1>Laufende und Abgeschlossene Berechnungen</h1>
        <ul>
            <li data-th-each="electionCalculation : ${electionCalculations}">
                <a data-th-href="@{/showElectionCalculation(dateTimeTheCalculationStarted=${electionCalculation.key})}">Berechnung
                vom <span data-th-text="${electionCalculation.key}">1998-05-03T17:05:32.045Z</span></a>
            </li>
        </ul>
    </section>
</main>
<footer><a href="/">Zurück zur Startseite</a></footer>
</body>
</html>